body{
    padding: 0;
    margin: 0;
    background: #F6F6F6;
    color: #fff;
}
#wrapper{
    padding: 0;
    margin: 0;
    overflow: hidden;

}

/* Top-Header */
section#header .top-header{
    width: 100%;
    float: left;
    background: #161616;
    display: block;
}

section#header .logo img{
    width: 80px;
    padding: 10px 0;
}
section#header .top-ads img{
    padding: 10px 0;
}
/* End Top-Header */

/* End Menu */
section#header .menu-bar{
    width: 100%;
    background: #fa1939;
    float: left;
    height: 50px;
    padding: 0;
}

section#header .menu-bar ul{
    padding: 0;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
section#header .menu-bar ul li{
    list-style: none;
    float: left;
    padding: 0 5px;
}
section#header .menu-bar ul li a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: #fff;
    font-family: Koulen;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    opacity: 0.8;
}
section#header ul li a:hover{
    opacity: 1;
}

section#header .menu-bar ul li a img{
    width: 70px;
    opacity: 1;
    
}

.active{
    background: #D90C16;
    height: 50px;
}
/* End Menu */


/* Content */

    /* Left-Side */
section#content .left-side{
    width: calc(100% - 308px);
    float: left;
    overflow: hidden;
    margin: 15px 0;
}


section#content .left-side .rows{
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    padding: 0; 
    margin: 0;
}
section#content .left-side .news-left{
    width: calc(100% - 340px);
    height: 250px;
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
}

section#content .left-side .news-body{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}

section#content .left-side .news-body .img-news{
    position: relative;
}

.news-body .img-news img{
   position: absolute;
   width: 100%;
   height: 250px;
   box-sizing: border-box;

}
    /* End Left Side */


/*--------label---------*/
section#content .news-body .label{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    z-index: 9999;
}
section#content .news-body .label span{
    padding: 0 15px;
    color: white;
    font-size: 13px;
    font-family: Koulen;
    line-height: 30px; 
    float: left; 
}
section#content .news-body .label .conner-yellow{
    border-left: 20px solid #F9A62B;
    border-top: 30px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    display: inline-block;
}

section#content .news-body .label .conner-green{
    border-bottom: 0px solid transparent;
    border-left: 20px solid #38C378;
    border-top: 30px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    display: inline-block;

}

section#content .news-body .label .conner-pink{
    border-left: 20px solid #FA5480;
    border-top: 30px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    display: inline-block;
    top: 0;
}

/* Background and Text Color */
.bg-yellow{
    background: #F9A62B;
}
.bg-red{
    background: #F2272F;
}
.bg-green{
    background: #38C378;
}
.bg-pink{
    background: #FA5480;
}
.text-white{
    color: #fff;
}

.bd-red{
    border-top: 3px solid #F2272F;
}
.bd-green{
    border-top: 3px solid #38C378;
}
.bd-pink{
    border-top: 3px solid #FA5480;
}
.bd-yellow{
    border-top: 3px solid #F9A62B;
}

/*---Slide -----*/
section#content .news-body .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,.8) 60%,#000 100%);
    transition: all ease-in-out 0.3s;
}

/* Title */
section#content .news-body .new-caption{
    display: block;
    position: absolute;
    z-index: 9999;
    width: 100%;
    bottom: -75px;
    float: left;
    transition: all ease-in-out 0.5s;

}
section#content .news-body .new-caption .title h4, h6{
    font-family: 'Battambang', cursive;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}
section#content .news-body .new-caption .title h4{
    margin-bottom: -10px;
    font-size: 18px;
}
section#content .news-body .new-caption:hover{
    bottom: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,.3) 60%,#000 100%);
}
section#content .news-body .new-caption:hover h4{
    color: red;
}

section#content .news-body .new-caption:hover .bg-slide{
    opacity: 0.1;
}


section#content .left-side .news-right{
    width: 340px;
    height: 250px;
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
}

/* Advertise */
section#content .right-side{
    width: 308px;
    float: right;
    margin: 15px 0;
}

section#content .ads-right{
    float: right;
    margin-bottom: 5px;
}
section#content .ads-right img{
    height: 246px;
}
/* End Advertise */


/*Start Category News */
section#content .category{
    margin-top: 10px;
    display: inline-block;
}
section#content .category .tap{
    display: inline-block;
    margin-bottom: -10px;
    box-sizing: border-box;
    border: 1px solid green;
    position: relative;
}
section#content .category .tap a{
    display: inline-block;
    font-size: 20px;
    font-family: Koulen;
    text-decoration: none;
    padding: 4px 10px 4px 14px;
}

section#content .category .tap-conner{
    border-top: 60px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 50px solid red;
    display: inline-block;
}
section#content .news-grid{
    width: 100%;
    margin: 10px auto;
    float: left;
    background: #fff;
    color: #636b6f;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);
    position: relative;
    box-sizing: border-box;
    display: block;

}
section#content .news-grid .wrap-news{
    padding: 8px 20px;
}

section#content .big-box-new{
    width: 100%;
    position: relative;
    height: 270px;
}
section#content h4.big-news-title{
    display: inline-block;
    width: 100%;
    padding: 5px 6px;
    box-sizing: border-box;
    font-size: 22px;
    text-align: justify;
    font-family: Battambang;
    margin-top: -5px;
}

section#content .big-box-new .thumbnail{
    display: inline-block;
    overflow: hidden;
    width: 100%;

}

section#content .big-box-new .thumbnail img{
    height: 200px;
    display: block;
    width: 100%;
    transform: scale(1);
    overflow: hidden;
    transition: all 0.3s;
}

/* Zoom Image */
section#content .img-hover:hover img{
    transform: scale(1.2);
}

section#content .big-box-new .news-title{
    height: 100px;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: -2px;
    font-size: 15px;
    color: #444;
    font-family: Battambang;
}

/* Small News */
section#content .contain-small-news{
    width: calc(100% - 350px);
    float: left;
    padding: 0;
    box-sizing: border-box;
}

section#content .contain-small-news .item{
    width: 175px;
    height: 170px;
    float: left;
    margin-right: 11px;
    box-sizing: border-box;
}
section#content .contain-small-news .item img{
    display: block;
    height: 100px;
    float: left;
}
section#content .contain-small-news .item h5{
    font-family: 'Battambang' ,cursive;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
}

/*Big News */
section#content .contain-big-news{
    width: 340px;
    height: 330px;  
    position: relative;
    float: right;
    padding: 0;
    box-sizing: border-box;

}

section#content .contain-big-news  img{
    width: 100%;
}
/*Footer Section  */
section#footer{
    width: 100%;
    height: 400px;
    background: black;
    float: left;
}


